@import "../../constants/variables.module";

.content {
  display: flex;
  align-items: start;
  gap: 20px;

  @media (max-width: $mobileWidth) {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}

.list {
  width: 100%;
}

.gameItemWrapper {
  margin: 0 0 10px 0;
}
