.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: rgb(248, 199, 199);
  border-radius: 8px;
  padding: 30px;
}
